@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* CSS reset */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: 'Overpass', sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* CSS Variables */

:root{
  --primary: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);
}

body{
  background-color: var(--veryDarkBlue);
}

.container{
  margin: 10rem auto;
  padding: 2rem;
  max-width: 20rem;
  background-color: var(--darkBlue);
  border-radius: 1rem;
}

.img{
  background-color: var(--veryDarkBlue);
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  margin-bottom: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img img{
  width: 60%;
}

h1{
  color: var(--white);
  margin-bottom: 1rem;
  font-weight: 700;
}

p{
  color: var(--mediumGrey);
  font-size: .8rem;
  margin-bottom: 1rem;
}

.rating{
}